@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  user-select: none;
  overflow-x: hidden;
  font-family: 'Inter';
  letter-spacing: 0.5px;
}

p {
  margin: 0;
  font-weight: 500;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

input {
  color: #464646;
  width: 100%;
  font-size: 14px;
  border: none;
  outline: none;
  background-color: transparent;
}

button {
  border: none;
  transition: 0.3s linear;
}
